@media (min-width:768px) and (max-width: 1200px) {
    .nav-menu {
        flex-grow: 1;
        align-items: center;
        justify-content: center;
    }

    .nav-menu__header {
        margin-left: 150px;
    }

    .nav-menu__list {
        display: none;
    }

    .nav-menu__phones {
        display: none;
    }

    .nav-menu__emails {
        display: flex;
        margin-right: 15px;
        column-gap: 5px;
        margin-left: auto;
    }

    .nav-menu__expand {
        margin-right: auto;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 25px;
    }

    .expand__rectangle {
        background-color: #2D66EE;
        width: 40px;
        height: 5px;
    }
}