@media(min-width: 768px) and (max-width: 1200px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 15px;
    }
    .main-info-container {
        display: flex;
        margin: 10px 25px 10px;
        height: 675px;
    }

    .main-info {
        display: flex;
        flex-direction: column;
        width: 383px;
        flex-grow: 1;
    }

    .main-info__contact {
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 2px 2px 2px lightgray;
        border-radius: 12px;
        width: 383px;
        row-gap: 15px;
        padding-left: 15px;
        height: 276px;
    }

    .main-info__description {
        display: flex;
        flex-direction: column;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .contact-form__value-container {
        display: flex;
        flex-direction: column;
    }

    .contract-form__input {
        border: 0;
        width: 224px;
        border-bottom: 1px solid #D0D5DD;
        font-family: "Inter", sans-serif;
        font-size: 14px;
    }

    .contact-form__label {
        color: #667085;
        font-size: 13px;
    }

    #contact-form__submit {
        height: 40px;
        width: 155px;
        background-color: #2D66EE;
        border: 0;
        color: white;
        font-weight: bold;
        border-radius: 8px;
    }

    #contact-form__phone {
        padding-left: 20px;
        background-image: url("../../images/input-forms/kz-flag.png");
        background-repeat: no-repeat;
        background-size: 15px;
        background-position-y: 8px;
    }

    .comments-container {
        display: flex;
        justify-content: center;
        column-gap: 45px;
        flex-grow: 1;
        overflow: hidden;
    }

    .comments-container-mini {
        display: none;
    }

    .comments-container__left, .comments-container__right {
        z-index: -1;
        transform: rotate(-12deg) scale(150%, 150%) translate(30px, -15px);
    }
}