footer {
  display: flex;
  justify-content: center;

  .footer-header {
    font-size: $fs-xxl;
    font-weight: bold;
    margin: 20px 0;
  }

  .footer-container {
    background-color: #101828;
    color: white;
    text-align: center;
    width: $layout-width;
    border-radius: 15px;

    .footer-nav, .footer-end-word {
      display: flex;
      align-items: center;
    }

    .footer-nav {
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 0 $footer-outer-margin;

      .footer-nav__item {
        .footer-nav-description {
          color: $secondary-color-400;
          font-size: $fs-s;
          display: flex;
          align-items: center;
          height: 5px;
          margin: $footer-outer-margin 0;
          column-gap: $footer-lists-gap;
        }
        p {
          font-size: $fs-l;
        }
      }
    }

    .footer-end-word {
      justify-content: center;
      margin: $footer-outer-margin 0;
      column-gap: $footer-lists-gap;
      font-size: $fs-xs;
    }
  }
}
