@include desktop {
  header {
    justify-content: center;

    .nav-menu__expand {
      display: none;
    }

    .nav-menu {
      width: $layout-width;
      justify-content: space-around;
    }
  }

  .nav-menu__list, .nav-menu__emails, .nav-menu__phones {
    display: flex;
    column-gap: $header-lists-gap;
  }
}

@include tablet {
  .nav-menu {
    flex-grow: 1;
    justify-content: center;

    .nav-menu__expand {
      margin-right: auto;
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 25px;

      .expand__rectangle {
        background-color: $primary-color;
        width: 40px;
        height: 5px;
      }
    }

    .nav-menu__header {
      margin-left: 150px;
    }

    .nav-menu__list, .nav-menu__phones {
      display: none;
    }

    .nav-menu__emails {
      display: flex;
      margin-right: 15px;
      column-gap: 5px;
      margin-left: auto;
    }
  }
}

@include phone {
  @media (min-width: 425px) and (max-width: 768px) {
    .nav-menu {
      flex-grow: 1;
      align-items: center;
      height: 50px;

      .nav-menu__expand {
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 25px;

        .expand__rectangle {
          background-color: $primary-color;
          width: 40px;
          height: 5px;
        }
      }

      .nav-menu__header {
        margin-left: auto;
        margin-right: auto;
      }

      .nav-menu__list, .nav-menu__phones, .nav-menu__emails {
        display: none;
      }
    }
  }
}