@include desktop {
  .main-info-container {
    margin: 120px 165px 120px;

    .main-info__description {
      h1 {
        font-size: $fs-xxl;
      }
    }

    .main-info__contact {
      width: 750px;
      height: 186px;
      .contact__header {
        margin-left: 30px;
        font-size: $fs-header;
      }

      .contact-form {
        #contact-form__submit {
          height: 48px;
          background-color: $primary-color;
          border: 0;
          color: white;
          font-weight: bold;
          text-align: left;
          padding-left: 50px;
          border-radius: 8px;
        }
      }
    }

    .main-info {
      .comments-container-mini {
        display: none;
      }
    }

    .comments-container {
      display: flex;
      justify-content: center;
      margin-left: 150px;
      column-gap: 230px;
      .comments-container__left, .comments-container__right {
        z-index: -1;
        transform: rotate(-12deg) scale(300%, 300%) translateY(600px);
      }

      .comments-container__left {
        animation: moveUp 4s linear infinite;
      }

      .comments-container__right {
        animation: moveDown 4s linear infinite;
      }
    }
  }
}

@include tablet {

  .main-info-container {
    margin: 50px 25px 10px;

    .main-info {
      width: 383px;
      flex-grow: 1;

      .main-info__description {
        h1 {
          font-size: $fs-main-info-tablet;
        }
      }

      .comments-container-mini {
        display: none;
      }

      .main-info__contact {
        display: flex;
        width: 383px;
        height: 276px;

        .contact-form {
          flex-direction: column;
          row-gap: 20px;

          #contact-form__submit {
            height: 40px;
            width: 155px;
            background-color: $primary-color;
            border: 0;
            color: white;
            font-weight: bold;
            border-radius: 8px;
          }
        }
      }
    }

    .comments-container {
      display: flex;
      justify-content: center;
      column-gap: 45px;
      flex-grow: 1;

      .comments-container__left, .comments-container__right {
        z-index: -1;
        transform: rotate(-12deg) scale(150%, 150%) translate(30px, -15px);
      }
    }
  }
}

@include phone {
  .main-info-container {
    display: flex;
    flex-direction: column;
    margin: 340px 25px 300px;
    justify-content: center;

    .main-info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      order: 1;

      .main-info__description {
        h1 {
          font-size: $fs-main-info-tablet;
        }
      }

      .comments-container-mini {
        display: flex;
        justify-content: center;
        height: 600px;
        column-gap: 10px;
        overflow: hidden;

        .comments-container-mini__left, .comments-container-mini__right {
          z-index: -1;
          transform: rotate(-12deg) scale(200%, 200%) translateY(160px);
        }

        .comments-container-mini__left {
          transform: translateY(360px) scale(200%, 200%) rotate(-12deg);
          margin-left: 90px;
        }
      }

      .main-info__contact {
        padding-left: 15px;
        padding-bottom: 5px;
        padding-top: 5px;

        .contact-form {
          flex-direction: column;
          row-gap: 20px;

          .contact-form__value-container {
            margin-top: 15px;

            #contact-form__submit {
              height: 40px;
              width: 155px;
              background-color: $primary-color;
              border: 0;
              color: white;
              font-weight: bold;
              border-radius: 8px;
            }
          }
        }
      }
    }
      .comments-container {
        display: none;
      }
  }
}
