@import "425px/cycle-info.css";

.cycle-info {
    display: flex;
    background-color: white;
    column-gap: 75px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.cycle-info__description-container {
    display: flex;
    flex-direction: column;
}

.enumeration {
    color: #344054;
}


.cycle-info__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0;
}

.cycle-info__list__item {
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-size: 20px;
}

.cycle-info__list__item__text:hover {
    font-weight: bold;
    padding-bottom: 4px;
    border-bottom: #2D66EE solid 2px;
}

@media (min-width: 768px) {
    .cycle-info__description-container {
        margin-left: 60px;
        width: 700px;
    }

    .cycle-info__list {
        margin-right: 60px;
        width: 400px;
    }
}
