*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style-type: none;
}

@keyframes moveUp {
  0% {
    transform: rotate(-12deg) scale(300%, 300%) translateY(600px);
  }
  100% {
    transform: translateY(-1500px) translateX(-300px) rotate(-12deg) scale(300%, 300%);
  }
}
@keyframes moveDown {
  0% {
    transform: rotate(-12deg) scale(300%, 300%) translateY(-600px);
  }
  100% {
    transform: translateY(1500px) translateX(350px) rotate(-12deg) scale(300%, 300%);
  }
}
@font-face {
  font-family: "Inter";
  src: local("Inter"), local("Inter-Bold"), local("Inter Bold"), url("../fonts/Inter-Bold.ttf") format("truetype"), url("../fonts/Inter-Bold.woff2") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: local("Inter"), local("Inter-Medium"), local("Inter Medium"), url("../fonts/Inter-Medium.ttf") format("truetype"), url("../fonts/Inter-Medium.woff2") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: local("Inter"), local("Inter-Regular"), local("Inter Regular"), url("../fonts/Inter-Regular.ttf") format("truetype"), url("../fonts/Inter-Regular.woff2") format("woff");
  font-weight: 400;
}
html {
  font-family: "Inter", serif;
}

body {
  background-color: #f1f1f1;
}

.accent-text {
  color: #2D66EE;
}

header {
  top: 30px;
  display: flex;
  position: sticky;
}
header .nav-menu {
  display: flex;
  background-color: white;
  box-shadow: 2px 2px 2px lightgray;
  border-radius: 12px;
  align-items: center;
}
header .nav-menu .nav-menu__header {
  font-weight: bold;
  color: #2D66EE;
  font-size: 20px;
}
header .nav-menu .nav-menu__list, header .nav-menu .nav-menu__emails, header .nav-menu .nav-menu__phones {
  align-items: center;
  font-size: 14px;
}
header .nav-menu .nav-menu__emails, header .nav-menu .nav-menu__phones {
  color: #2D66EE;
}

@media (min-width: 1200px) {
  header {
    justify-content: center;
  }
  header .nav-menu__expand {
    display: none;
  }
  header .nav-menu {
    width: 1500px;
    justify-content: space-around;
  }
  .nav-menu__list, .nav-menu__emails, .nav-menu__phones {
    display: flex;
    column-gap: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .nav-menu {
    flex-grow: 1;
    justify-content: center;
  }
  .nav-menu .nav-menu__expand {
    margin-right: auto;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25px;
  }
  .nav-menu .nav-menu__expand .expand__rectangle {
    background-color: #2D66EE;
    width: 40px;
    height: 5px;
  }
  .nav-menu .nav-menu__header {
    margin-left: 150px;
  }
  .nav-menu .nav-menu__list, .nav-menu .nav-menu__phones {
    display: none;
  }
  .nav-menu .nav-menu__emails {
    display: flex;
    margin-right: 15px;
    column-gap: 5px;
    margin-left: auto;
  }
}
@media (min-width: 425px) and (max-width: 767px) and (min-width: 425px) and (max-width: 768px) {
  .nav-menu {
    flex-grow: 1;
    align-items: center;
    height: 50px;
  }
  .nav-menu .nav-menu__expand {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25px;
  }
  .nav-menu .nav-menu__expand .expand__rectangle {
    background-color: #2D66EE;
    width: 40px;
    height: 5px;
  }
  .nav-menu .nav-menu__header {
    margin-left: auto;
    margin-right: auto;
  }
  .nav-menu .nav-menu__list, .nav-menu .nav-menu__phones, .nav-menu .nav-menu__emails {
    display: none;
  }
}
footer {
  display: flex;
  justify-content: center;
}
footer .footer-header {
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0;
}
footer .footer-container {
  background-color: #101828;
  color: white;
  text-align: center;
  width: 1500px;
  border-radius: 15px;
}
footer .footer-container .footer-nav, footer .footer-container .footer-end-word {
  display: flex;
  align-items: center;
}
footer .footer-container .footer-nav {
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 20px;
}
footer .footer-container .footer-nav .footer-nav__item .footer-nav-description {
  color: #98A2B3;
  font-size: 14px;
  display: flex;
  align-items: center;
  height: 5px;
  margin: 20px 0;
  column-gap: 5px;
}
footer .footer-container .footer-nav .footer-nav__item p {
  font-size: 17px;
}
footer .footer-container .footer-end-word {
  justify-content: center;
  margin: 20px 0;
  column-gap: 5px;
  font-size: 13px;
}

.main-info-container {
  display: flex;
  height: 675px;
}
.main-info-container .main-info {
  display: flex;
  flex-direction: column;
}
.main-info-container .main-info .main-info__description {
  display: flex;
  row-gap: 40px;
  margin-bottom: 50px;
  flex-direction: column;
}
.main-info-container .main-info .main-info__description h1 {
  font-weight: bold;
}
.main-info-container .main-info .main-info__description .description__full-description {
  font-size: 15px;
}
.main-info-container .main-info .main-info__contact {
  display: flex;
  background-color: white;
  box-shadow: 2px 2px 2px lightgray;
  border-radius: 12px;
  justify-content: center;
  flex-direction: column;
}
.main-info-container .main-info .main-info__contact .contact__header {
  font-weight: bold;
  margin-bottom: 30px;
}
.main-info-container .main-info .main-info__contact .contact-form {
  display: flex;
  justify-content: space-around;
}
.main-info-container .main-info .main-info__contact .contact-form .contact-form__value-container {
  display: flex;
  flex-direction: column;
}
.main-info-container .main-info .main-info__contact .contact-form .contact-form__value-container .contract-form__input {
  width: 180px;
  height: 28px;
  border: 0;
  border-bottom: 1px solid #D0D5DD;
}
.main-info-container .main-info .main-info__contact .contact-form .contact-form__value-container .contact-form__label {
  color: #344054;
  font-size: 13px;
}
.main-info-container .main-info .main-info__contact .contact-form .contact-form__value-container #contact-form__phone {
  padding-left: 20px;
  background-image: url("../images/input-forms/kz-flag.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position-y: 8px;
}

@media (min-width: 1200px) {
  .main-info-container {
    margin: 120px 165px 120px;
  }
  .main-info-container .main-info__description h1 {
    font-size: 36px;
  }
  .main-info-container .main-info__contact {
    width: 750px;
    height: 186px;
  }
  .main-info-container .main-info__contact .contact__header {
    margin-left: 30px;
    font-size: 20px;
  }
  .main-info-container .main-info__contact .contact-form #contact-form__submit {
    height: 48px;
    background-color: #2D66EE;
    border: 0;
    color: white;
    font-weight: bold;
    text-align: left;
    padding-left: 50px;
    border-radius: 8px;
  }
  .main-info-container .main-info .comments-container-mini {
    display: none;
  }
  .main-info-container .comments-container {
    display: flex;
    justify-content: center;
    margin-left: 150px;
    column-gap: 230px;
  }
  .main-info-container .comments-container .comments-container__left, .main-info-container .comments-container .comments-container__right {
    z-index: -1;
    transform: rotate(-12deg) scale(300%, 300%) translateY(600px);
  }
  .main-info-container .comments-container .comments-container__left {
    animation: moveUp 4s linear infinite;
  }
  .main-info-container .comments-container .comments-container__right {
    animation: moveDown 4s linear infinite;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .main-info-container {
    margin: 50px 25px 10px;
  }
  .main-info-container .main-info {
    width: 383px;
    flex-grow: 1;
  }
  .main-info-container .main-info .main-info__description h1 {
    font-size: 28px;
  }
  .main-info-container .main-info .comments-container-mini {
    display: none;
  }
  .main-info-container .main-info .main-info__contact {
    display: flex;
    width: 383px;
    height: 276px;
  }
  .main-info-container .main-info .main-info__contact .contact-form {
    flex-direction: column;
    row-gap: 20px;
  }
  .main-info-container .main-info .main-info__contact .contact-form #contact-form__submit {
    height: 40px;
    width: 155px;
    background-color: #2D66EE;
    border: 0;
    color: white;
    font-weight: bold;
    border-radius: 8px;
  }
  .main-info-container .comments-container {
    display: flex;
    justify-content: center;
    column-gap: 45px;
    flex-grow: 1;
  }
  .main-info-container .comments-container .comments-container__left, .main-info-container .comments-container .comments-container__right {
    z-index: -1;
    transform: rotate(-12deg) scale(150%, 150%) translate(30px, -15px);
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .main-info-container {
    display: flex;
    flex-direction: column;
    margin: 340px 25px 300px;
    justify-content: center;
  }
  .main-info-container .main-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    order: 1;
  }
  .main-info-container .main-info .main-info__description h1 {
    font-size: 28px;
  }
  .main-info-container .main-info .comments-container-mini {
    display: flex;
    justify-content: center;
    height: 600px;
    column-gap: 10px;
    overflow: hidden;
  }
  .main-info-container .main-info .comments-container-mini .comments-container-mini__left, .main-info-container .main-info .comments-container-mini .comments-container-mini__right {
    z-index: -1;
    transform: rotate(-12deg) scale(200%, 200%) translateY(160px);
  }
  .main-info-container .main-info .comments-container-mini .comments-container-mini__left {
    transform: translateY(360px) scale(200%, 200%) rotate(-12deg);
    margin-left: 90px;
  }
  .main-info-container .main-info .main-info__contact {
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .main-info-container .main-info .main-info__contact .contact-form {
    flex-direction: column;
    row-gap: 20px;
  }
  .main-info-container .main-info .main-info__contact .contact-form .contact-form__value-container {
    margin-top: 15px;
  }
  .main-info-container .main-info .main-info__contact .contact-form .contact-form__value-container #contact-form__submit {
    height: 40px;
    width: 155px;
    background-color: #2D66EE;
    border: 0;
    color: white;
    font-weight: bold;
    border-radius: 8px;
  }
  .main-info-container .comments-container {
    display: none;
  }
}
.cycle-info {
  display: flex;
  background-color: white;
  column-gap: 75px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.cycle-info .cycle-info__description-container {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.cycle-info .cycle-info__description-container .cycle-info__header {
  font-weight: bold;
  font-size: 28px;
}
.cycle-info .cycle-info__description-container .cycle-info__enumerations {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.cycle-info .cycle-info__description-container .cycle-info__enumerations .enumeration-header {
  font-weight: bold;
  font-size: 20px;
}
.cycle-info .cycle-info__description-container .cycle-info__enumerations .enumeration {
  font-size: 14px;
  color: #344054;
}
.cycle-info .cycle-info__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 1;
}
.cycle-info .cycle-info__list .cycle-info__list__item {
  display: flex;
  align-items: center;
  column-gap: 15px;
  font-size: 20px;
}
.cycle-info .cycle-info__list .cycle-info__list__item__text:hover {
  font-weight: bold;
  padding-bottom: 4px;
  border-bottom: #2D66EE solid 2px;
}

@media (min-width: 768px) {
  .cycle-info__description-container {
    margin-left: 60px;
    width: 700px;
  }
  .cycle-info__description-container .cycle-info__list {
    margin-right: 60px;
    width: 400px;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .cycle-info {
    flex-direction: column;
  }
  .cycle-info .cycle-info__description-container {
    margin-left: 40px;
  }
}

/*# sourceMappingURL=index.css.map */
