$first-vp-width: 425px;
$second-vp-width: 768px;
$third-vp-width: 1200px;

$breakpoint-xl: 1200px;
$breakpoint-m: 768px;
$breakpoint-xs: 425px;

$base-color: #000000;
$primary-color: #2D66EE;
$secondary-color: #344054;
$secondary-color-400: #98A2B3;
$base-background-color: #f1f1f1;


$ff: ['Inter', serif];
$fs-xs: 13px;
$fs-s: 14px;
$fs-base: 15px;
$fs-l: 17px;
$fs-xl: 18px;
$fs-xxl: 36px;

$fs-header: 20px;
$fs-main-info-tablet: 28px;


$layout-width: 1500px;

$header-lists-gap: 10px;

$footer-outer-margin: 20px;
$footer-lists-gap: 5px;

